.hov:hover {
  background-color: red;
}

.active:active {
  background-color: blue;
}

.focus:focus {
  background-color: green;
}

/* ELEMENTS */

.fire::before {
  content: 'Andrew ';
}

.finished::after {
  content: ' ✅';
}

.first-letter::first-letter {
  font-size: 2em;
  color: purple;
}

/* Attribute */

.flex {
  display: flex;
  justify-content: space-between;
}

[test*='ill'] {
  font-weight: bold;
  color: blue;
}